header {
  position: fixed;
  width: 100%;
  z-index: 100;
  #nav {
    top: 0;
    #logo {
      left:0;
    }
    #nav-links {
      position: absolute;
      top: 0;
      right: 0;
      nav {
        display: inline-block;
      }
      a { 
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

#hero-wrapper {

  .bitmatica-hero-image {
    background-image: image-url("DISPLAY/cityscape.jpg");
  }

  .bitmatica-hero-content {
    h2 {
      strong {
        display: block;
        text-transform: uppercase;
      }
    }
  }
}

#section_one {
  background-image: url(/assets/DISPLAY/cityscape.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  #r_parallelogram { 
    width: 50%; 
    min-height: 243px; 
    background: rgba(0, 0, 0, 0.8);
    margin-left: -100px;
    -webkit-transform: skew(-20deg); 
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg); 
    transform: skew(-20deg);  
  }
  .top_content {
    position: absolute;
    top: 320px;
    left: 11%;
    text-align: center;
  }
}

#section_two {
  min-height:200px;
  background-color: #e6e6e6;
  .parallelogram { 
    width: 25%;
    position: absolute; 
    min-height: 240px; 
    z-index: 0;
    background-color: #eeeeee;
    -webkit-transform: skew(-20deg); 
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg); 
    transform: skew(-20deg);  
    &.left {
      left: -85px;
      margin-top: -40px;
    }
    &.right {
      right: -85px;
      margin-bottom: -40px;
    }
  }
}

#section_three {
  .service {
    text-align: center;
    padding: 60px;
  }
}