<footer id="main-footer">
  <div>LOGO PLACEHOLDER</div>
  <div>Explore</div>
    <div>Services</div>
    <div>Process</div>
    <div>Work</div>
  <div>Contact</div>
    <div>+1 415-625-0615</div>
    <div>hello@bitmatica.com</div>
  <div>Social</div>
    <div>Twitter PLACEHOLDER</div>
    <div>Facebook PLACEHOLDER</div>
    <div>Wordpress PLACEHOLDER</div>
  <div>@Copyright 2013 Bitmatica, LLC</div>
  <div>1 Sansome Street 35th Floor San Francisco, CA 94104</div>
</footer>