<div id="hero-wrapper">
  <div class="bitmatica-hero-image"></div>
  <div class="bitmatica-hero-content-wrap">
    <div class="bitmatica-hero-content">
      <h2>We help companies</h2>
      <h2>Build great products</h2>
    </div>
  </div>
</div>