<div id="hero-wrapper">
  <div class="bitmatica-hero-image"></div>
  <div class="bitmatica-hero-content-wrap">
    <div class="bitmatica-hero-content">
      <h2><strong>We help companies</strong></h2>
      <h2><strong>Build great products</strong></h2>
    </div>
  </div>
</div>