<section id="ourwork">
  <h2>Our Work & Client Testimonials</h2>
  <div id="testimonial-bar">
    <div class="testimonial-quote">
      <div>"Working with Bitmatica has been our best consulting experience to date."
      <div class="testimonial-name">John Doe</div>
      <div>Testimonial Company Image placeholder</div>
    </div>
    <div class="testimonial-quote">
      <div>"Working with Bitmatica has been our best consulting experience to date."
      <div class="testimonial-name">John Doe</div>
      <div>Testimonial Company Image placeholder</div>
    </div>
  <h3>Recently we have helped clients accomplish</h3>
  <div class="client-work">
    <div>Business Intelligence with a 200TB Hadoop Cluster</div>
    <div>Building a Platform with Hardware Integration</div>
    <div>Designing a Mobile Authentication System</div>
    <div>Increasing Customer Conversions by 300%</div>
  </div>
</section>