<section id="process">
  <h2>How we work</h2>
  <div class="process-steps">1. Understanding</div>
    <div>On day one, we sit down in-person to understand your customers and business goals, and propose a roadmap to meet these challenges.</div>
  <div class="process-steps">2. Design</div>
    <div>After the roadmap is complete, our design team collaboratively wireframes every interaction with your feedback, to deliver high-fidelity visual designs that your customers will love.</div>
  <div class="process-steps">3. Implementation</div>
    <div>Using rapid development cycles, we begin to turn your vision into reality with a schedule of one-week development sprints. Our constant communication and real-time collaboration tools mean that features are delivered on-time, on-budget.</div>
  <div class="process-steps">4. Launch!</div>
    <div>After a final polish, we prepare your product for launch with metrics, analytics, and a full round of beta testing to ensure it delivers value above and beyond your expectations. your launch never comes with surprises -- it only comes with increased revenue for your business.</div>
  <div class="quote">
    <div>"When we work with our clients, we strive to become a part of the team. Our goal is to solve your business challenges, not just deliver software to meet a specification."</div>
  </div>
</section>