<article id="section_two">
	<div class="parallelogram left"></div>
	<div class="span8px offset8px">
		<div>Bitmatica is a software consultancy that fuses unparralled</div>
		<div>design, engineering, and management to grown your business.</div>
	</div>
	<div class="parallelogram right"></div>
</article>