<section id="services">
  <h2>What We Do</h1>
    <div>Product Design & Consulting</div>
      <div>Combining customer validation, competitive analysis and value creation, our first priority is to make your product succeed.</div>
    <div>Visual interface & Experience Design</div>
      <div>We create visual and interactive experiences that keep your customers engaged from the first impression.</div>
    <div>Web Application Development</div>
      <div>Ruby, Python, JavaScript, SQL, and more -- we speak it all to deliver the most robust, efficient, and maintainable applications for your business.</div>
    <div>Mobile Application Development</div>
      <div>As the world goes mobile, leverage our native iOS and Android expertise to open new markets and evolve your customer base.</div>
    <div>Business Intelligence, Scaling and Operations</div>
      <div>From one to one billion users, Bitmatica can gie you the customer insight you need to grow.</div>
    <div>Security Consulting</div>
     <div>Our extensive background in security and cryptography helps you find and fix vulnerabilities before attackers do.</div>
  <div>
    <div>We fuel innovative organizations with innovative products.</div>
    <div>Interested in learning more...?</div>
  </div>
  <div>
    <div>COMPANY IMAGE PLACEHOLDER and more...</div>
  </div>
</section>