<section id="services">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">What We Do</div>
  </div>
    <div class="row">
      <div class="col-md-4">Product Design & Consulting</div>
      <div class="col-md-4">Visual interface & Experience Design</div>
      <div class="col-md-4">Web Application Development</div>
    </div>
    <div class="row">
      <div class="col-md-4">Combining customer validation, competitive analysis and value creation, our first priority is to make your product succeed.</div>
      <div class="col-md-4">We create visual and interactive experiences that keep your customers engaged from the first impression.</div>
      <div class="col-md-4">Ruby, Python, JavaScript, SQL, and more -- we speak it all to deliver the most robust, efficient, and maintainable applications for your business.</div>
    </div>
    <div class="row">
      <div class="col-md-4">Mobile Application Development</div>
      <div class="col-md-4">Business Intelligence, Scaling and Operations</div>
      <div class="col-md-4">Security Consulting</div>
    </div>
    <div class="row">
      <div class="col-md-4">Security Consulting</div>As the world goes mobile, leverage our native iOS and Android expertise to open new markets and evolve your customer base.</div>
     <div class="col-md-4">From one to one billion users, Bitmatica can give you the customer insight you need to grow.</div>    
     <div class="col-md-4">Our extensive background in security and cryptography helps you find and fix vulnerabilities before attackers do.</div>
     </div>
  <div>
    <div class="">We fuel innovative organizations with innovative products.</div>
    <div>Interested in learning more...?</div>
    <div>LETS TALK PLACEHOLDER</div>
  </div>
  <div>
    <div>COMPANY IMAGE PLACEHOLDER and more...</div>
  </div>
</section>